[submodule "Scotch/vendor/GLFW"]
	path = Scotch/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "Scotch/vendor/spdlog"]
	path = Scotch/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Scotch/vendor/glm"]
	path = Scotch/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Scotch/vendor/imgui"]
	path = Scotch/vendor/imgui
	url = git@github.com:ShikharBind/imgui.git
	branch = docking
	ignore = untracked
[submodule "Scotch/vendor/yaml-cpp"]
	path = Scotch/vendor/yaml-cpp
	url = git@github.com:ShikharBind/yaml-cpp.git
	ignore = untracked
[submodule "Scotch/vendor/ImGuizmo"]
	path = Scotch/vendor/ImGuizmo
	url = git@github.com:ShikharBind/ImGuizmo.git
	ignore = dirty
